p {
  color: #65676B !important;
  line-height: 22px;
}

section {
  padding: 20px;
}

.bg-grey {
  background-color: #f0f8ff;
}

.list-group-item {
  background-color: #f0f8ff !important;
  border-color: rgb(0 0 0 / 6%) !important;
}

.timeline-badge {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9e88ff;
  border: 2px solid #68676c;
}